<!--h2 md-dialog-title>Edit Festivity</h2>
<md-input-container>
  <input mdInput placeholder="Name">
  <input mdInput placeholder="place">
  <material-datepicker [(date)]="YY-MM-DD"></material-datepicker>
  <material-datepicker [(date)]="YY-MM-DD"></material-datepicker>
</md-input-container>
<md-dialog-actions class="festivity-actions" >
  <button (click) = "updateFestivity(festivity)" class="festivity-button" md-fab><md-icon>check</md-icon></button>
  <button (click) = "updateFestivity(festivity)" class="festivity-button" md-fab><md-icon>close</md-icon></button>
</md-dialog-actions-->

<p-growl [value]="msgs"></p-growl>
<p-dialog class = "festivity-modal" header="Edit Festivity" [(visible)]="display" modal="modal" width="300" responsive="true" resizable="true">
  <md-input-container>
    <input mdInput placeholder="Name" [(ngModel)] = "festivityNew.name">    
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Place" [(ngModel)] = "festivityNew.place">    
  </md-input-container>  
  
  <p-calendar placeholder = "Start Date" [(ngModel)] = "festivityNew.start"></p-calendar>
  
  <p-calendar  placeholder = "End Date" [(ngModel)] = "festivityNew.end"></p-calendar>
  <md-dialog-actions class="festivity-actions" >
    <button (click) = "updateFestivity(festivityNew)" class="festivity-button" md-fab><md-icon>check</md-icon></button>
  </md-dialog-actions>
        
</p-dialog>


<!--p-dialog class = "festivity-modal" header="Edit Festivity" [(visible)]="display" modal="modal" width="300" responsive="true" resizable="true">
  <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Validate">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                     Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="name" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty">
                        <i class="fa fa-close"></i>
                        Name is required
                    </div>
                </div>
            </div>
      </div>     
    </p-panel>
  </form>
</p-dialog-->  